# uboot_hwt_defconfig - 基于正点原子 i.MX6ULL ALIENTEK EMMC
# 原始配置: mx6ull_alientek_emmc_defconfig (+ 自定义扩展)
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6ull_alientek_emmc/imximage.cfg,MX6ULL_EVK_EMMC_REWORK"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6ULL_ALIENTEK_EMMC=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_MMC=y
CONFIG_CMD_FAT=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_BOOTZ=y
CONFIG_HUSH_PARSER=y
CONFIG_SD_BOOT=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0xC0000
CONFIG_FSL_USDHC=y
CONFIG_SYS_MMC_ENV_DEV=0
CONFIG_SYS_LOAD_ADDR=0x80800000
CONFIG_MMCROOT="/dev/mmcblk0p2"
